* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background: #fab42c;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    overflow-x: hidden;  
}

main {
    margin: 20px;
    background: #fab42c;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #342d2a;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #342d2a;
    height: 8vh;
    flex-wrap: wrap;  /* Permite que o menu se ajuste a diferentes tamanhos de tela */
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /* Permite que os itens do menu se ajustem e quebrem linha em telas menores */
}

.nav-list li {
    letter-spacing: 3px;
    margin: 10px 20px;  /* Ajusta o espaçamento entre os itens do menu */
    opacity: 1;
    transition: opacity 0.5s ease-in-out; 
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;  
}

.item img {
    max-width: 100%;  
    height: auto;  
    border-radius: 5px;
}

@media (min-width: 600px) {
    .item {
        flex-basis: calc(50% - 40px);  
    }
}

@media (min-width: 1000px) {
    .item {
        flex-basis: calc(25% - 40px);  
    }
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #342d2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fab42c;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #342d2a;
    text-decoration: none;
    cursor: pointer;
}

.pix {
    text-align: center;
}
